.example-card {
    max-width: 400px;
    margin-left: 30%;
    margin-top: 15%;
    background-color: rgb(227, 227, 232);
   
  }
.imgStyle {
    margin-top: 0;
 
    max-width: 40%;
    max-height: 40%;
    margin-left: 120px;
}




.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-container{
    padding-top: 5px;
    text-align: center;
  }
 

  .signup{
    margin-left: 36%;
  }